.whenSP{
    width: 156px;
    height: 71px;
    border: none;
    font-size: 14px;
    font-style: normal;
    color: #443E3E;
    text-align: center;


}
::-webkit-calendar-picker-indicator {
    margin-right: 10px;
    background: url(../../../../assets/icons/calendar-icon.svg) no-repeat center;
    background-size: contain;
  }