.search__panel{
    width: inherit;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
    display: flex;
    gap: 1px;
    margin: 170px auto 130px;
	flex-wrap: wrap;
}

.search__button {
	width: 123px;
	height: 71px;
	background: #e65425;
	padding: 27px 38px;
	border: none;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: white;
}

.error__fill{
	color: #e62b25;
	font-weight: 700;
}

@media (max-width: 1130px) {
	.search__panel{
		justify-content: center;
	}
	.search__button{
		width: 40em;
       
	}
}
@media (max-width: 600px) {
	.search__button{
		width: 30em;
	}
}
@media (max-width: 450px) {
	.search__button{
		width: 20em;
	}
}