

.fromToCountry__countrySearch{
    width: 217px;
    height: 71px;
    background: #FFFFFF;
    border: none;
    padding: 27px 30px;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

}

.countriesSearch__fromto{
    display: flex;
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
}

select.fromToCountry__countrySearch{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
 }

@media (max-width: 1130px) {
	.countriesSearch__fromto{
		justify-content: center;
	}
    .fromToCountry__countrySearch{
        width: 40em;
       
    }
}
@media (max-width: 600px) {
	.fromToCountry__countrySearch{
        width: 30em;
    }
}
@media (max-width: 450px) {
    .fromToCountry__countrySearch{
        width: 20em;
    }
}

