

/* The container <div> - needed to position the dropdown content */
.vectorImg {
	position: relative;

}

/* Dropdown Content (Hidden by Default) */
.accountContent {
	display: none;
	position: absolute;
	width: 150px;
	height: 200px;
	left: -20px;
	top: 30px;
	background: #ffffff;
	border-radius: 10px;
	/* z-index: 1; */
  }

/* Links inside the dropdown */
.settings {
	position: absolute;
	width: 75px;
	height: 17px;
	left: 17px;
	top: 23px;
	/* padding: 12px 16px; */
	/* text-decoration: none;
    display: block; */
}

.documents {
	position: absolute;
	width: 96px;
	height: 17px;
	left: 17px;
	top: 60px;
}

.ticket {
	position: absolute;
	width: 61px;
	height: 17px;
	left: 17px;
	top: 97px;
}
/* Change color of dropdown links on hover */
.accountContent .settings.documents.ticket:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.vectorImg:hover .accountContent {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .vectorImg:hover .accountLogo {background-color: #3e8e41;} */

.menu-btn {
	position: absolute;
	left: 15px;
	right: 15px;
	top: 140px;
	bottom: 15px;
	background: #e65425;
	border-radius: 5px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	color: #ffffff;
}

.account_text {
	position: relative;
	color: var(--light-color);
	left: 88.59%;
right: 6.27%;

top: -28px;;

font-weight: 500;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
}








