
.wrapper {
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	max-width: 812px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
  }
  
  .lightBlueSideBar {
	/* width: 365px; */
	padding: 40px 60px;
	display: flex;
	flex-direction: column;
	background-color: #2e6ce7;
	color: #fff;
	text-align: center;
  }
  .lightBlueSignIn {
	margin-bottom: 155px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
  }
  .lightBlueAviasatuu {
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 48px;
	line-height: 49px;
  }
  
  .rightWhiteSideBar {
	background-color: #fff;
	padding: 45px 70px;
	width: 455px;
  }
  
  .joinText {
	margin-bottom: 25px;
	font-weight: 700;
  }
  
  .logInGmFcb {
	margin-bottom: 70px;
	display: flex;
	justify-content: space-around;
  }
  .logInGmailLink,
  .LogIn_FacebookLink {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .logInGmailLink img,
  .LogIn_FacebookLink img {
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
  }
  .reg_Gmail,
  .reg_facebook {
	font-size: 14px;
	line-height: 17px;
  }
  
  .email_class,
  .password_class {
	padding-right: 10px;
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid #999;
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 150%;
	background: #f1f1f1;
	color: #443e3e;
	outline: none;
  }
  .email_class::placeholder,
  .password_class::placeholder {
	color: #999;
	padding-right: 10px;
  }
  
  .circle_remember {
	margin-bottom: 50px;
  }
  .circle_remember label {
	display: flex;
	align-items: center;
  }
  .remember_text {
	width: 17px;
	height: 17px;
	border: 1px solid #999;
	border-radius: 50%;
	margin-right: 10px;
  }
  .remember_me {
	font-size: 14px;
	line-height: 17px;
  }
  
  .signInBtn {
	margin: 0 auto 35px;
	padding: 15px 0;
	width: 307px;
	background-color: #e65425;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #fff;
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out;
  }
  .signInBtn:hover {
	opacity: 1;
  }
  
  .signUpAll {
	display: flex;
	justify-content: space-around;
	font-size: 14px;
	line-height: 17px;
	color: #443e3e;
  }
  .signUpP {
	font-weight: 700;
	color: #e65425;
  }
  
  @media (max-width: 860px) {
	.wrapper {
	  flex-direction: column;
	  align-items: center;
	}
	.lightBlueSignIn {
	  margin-bottom: 50px;
	}
  }
  
  @media (max-width: 500px) {
	.rightWhiteSideBar,
	.lightBlueSideBar {
	  padding: 45px 15px;
	  width: 100%;
	}
	.signInBtn {
	  width: 100%;
	}
  }
  
  /*amination of the 'You are logged in' message */
  .rotate {
	margin: 0;
	height: 100%;
  }
  
  .rotate_body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background-color);
	color: var(--light-color);
  }
  
  .rotate::before,
  .rotate::after,
  .rotate_body::before,
  .rotate_body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0.5vmin;
	height: 0.5vmin;
	border-radius: 50%;
	color: (var(--light-color));
  }
  
  em.planet {
	-webkit-animation: planet-rotate 4s linear infinite;
	animation: planet-rotate 4s linear infinite;
	position: relative;
  }
  
  em.planet::before {
	content: '';
	position: absolute;
	top: -0.5vmin;
	left: 3.5vmin;
	z-index: -1;
	width: 13vmin;
	height: 13vmin;
	border-radius: 50%;
	background: var(--active-color);
  }

  .go_homeBtn {
	  color: var(--dark-color);
	margin: 0 auto 35px;
	padding: 12px 0;
	width: 307px;
	font-weight: 500;
	font-size: 15px;
	line-height: 150%;
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out;
  }
  
  @-webkit-keyframes planet-rotate {
	to {
	  -webkit-transform: rotate(1turn);
	}
  }
  
  @keyframes planet-rotate {
	to {
	  transform: rotate(1turn);
	}
  }



  