.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.slogan__content{
    width: 520px;
}

.slogan__title{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 49px;
    color: #FFFFFF;
}

.slogan__text{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.plane__img{
width: 578px;
height: 205px;
background: url(../../../assets/images/plane.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
--webkit-animation: movingplane 10s linear infinite;
}
@-webkit-keyframes movingplane{
    0% {
        -webkit-transform:  translate(100%,-20px)  rotate(0deg) ;
    }
    100% {
        -webkit-transform:  translate(100%,-20px)  rotate(0deg) ;
    }
}

@media (max-width: 1130px) {
	.slogan{
		justify-content: center;
	}
}
@media (max-width: 600px) {
	.slogan__title{
        font-size: 34px;
    }
    .slogan__text{
        font-size: 14px;
    }
    .slogan__content{
        width: 400px;
    }
    .plane__img{
        width: 400px;
    }
}
