.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.slogan-content{
    width: 520px;
}

.slogan-title{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 49px;
    color: #FFFFFF;
}

.slogan-text{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.plane-img{
width: 578px;
height: 205px;
background: url(../../../assets/images/plane.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

@media (max-width: 1130px) {
	.slogan{
		justify-content: center;
	}
}
@media (max-width: 600px) {
	.slogan-title{
        font-size: 34px;
    }
    .slogan-text{
        font-size: 14px;
    }
    .slogan-content{
        width: 400px;
    }
    .plane-img{
        width: 400px;
    }
}
