.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan-content{
    width: 520px;
}

.slogan-title{
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 49px;
    color: #FFFFFF;
}

.slogan-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.plane-img{
width: 578px;
height: 205px;
background: url(../../../assets/images/plane.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}