.flightsList-inner {
	padding-bottom: 100px;
}
.flights-header {
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.flights__title {
	position: relative;
	color: var(--light-color);
}
.flights-header__img {
	margin: 0 35px;
}
.flights__title-descr {
	color: var(--gray-color);
	position: absolute;
	top: -25px;
	left: 2px;
}

.description {
	margin: 0 auto 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	color: var(--light-color);
}

.description__item {
	margin-bottom: 15px;
}
.description__item:not(:last-child) {
	margin-right: 30px;
}

.description__date input[type='date']::-webkit-calendar-picker-indicator {
	color: var(--light-color);
	opacity: 0;
}

.description__date {
	padding: 5px 10px;
	font-size: 18px;
	line-height: 150%;
	background-color: transparent;
	border: 1px solid var(--gray-color);
	color: var(--light-color);
	outline: none;
}
.desctiption__date-label {
	position: relative;
}
.description__date-img {
	position: absolute;
	left: 150px;
	top: 50%;
	cursor: pointer;
}

.flights-variants {
	margin-bottom: 15px;
}
.flights-variants__list {
	display: flex;
	color: var(--gray-color);
}
.flights-variants__item:first-child {
	margin-right: 85px;
	margin-left: 45px;
}
.flights-variants__item:nth-child(2) {
	margin-right: 155px;
}
.flights-variants__item:nth-child(3) {
	margin-right: 130px;
}
.flights-variants__item:nth-child(4) {
	margin-right: 170px;
}
.flights-variants__item:nth-child(5) {
	margin-right: 120px;
}
.flights-variants__select {
	color: var(--light-color);
	border: none;
	background-color: transparent;
	outline: none;
}
.flights-variants__select option {
	background-color: transparent;
	color: var(--dark-color);
	padding: 15px 10px;
}

@media (max-width: 970px) {
	.flights-variants__list {
		display: none;
	}
}
@media (max-width: 600px) {
	.flights__title {
		margin-bottom: 50px;
	}
	.flights__title:not(:last-child) {
		margin-right: 30px;
	}
	.flights-header__img {
		display: none;
	}
}
@media (max-width: 350px) {
	.description {
		display: block;
		text-align: center;
	}
	.description__item:not(:last-child) {
		margin-right: 0;
	}
}
