:root {
	--dark-color: #443e3e;
	--gray-color: #999;
	--light-color: #fff;
	--background-color: #2e6ce7;
	--accent-color: #e65425;
	--hover-color: #f58020;
	--active-color: #fcc02a;
}

@font-face {
	font-family: 'Inter-Bold';
	src: url(./assets/fonts/Inter-Bold.woff2);
	font-weight: 700;
	font-style: swap;
}
@font-face {
	font-family: 'Inter-ExtraBold';
	src: url(./assets/fonts/Inter-Bold.woff2);
	font-weight: 800;
	font-style: swap;
}
@font-face {
	font-family: 'Inter-Medium';
	src: url(./assets/fonts/Inter-Bold.woff2);
	font-weight: 500;
	font-style: swap;
}
@font-face {
	font-family: 'Inter-Regular';
	src: url(./assets/fonts/Inter-Bold.woff2);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Inter-SemiBold';
	src: url(./assets/fonts/Inter-Bold.woff2);
	font-weight: 600;
	font-style: swap;
}

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

body {
	font-family: 'InterRegular', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: var(--dark-color);
	background-color: var(--background-color);
}

.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-size: 48px;
	line-height: 49px;
	font-weight: 800;
}

.sub-title {
	font-size: 32px;
	font-weight: 400;
	line-height: 150%;
}

.caption-text {
	font-size: 14px;
	line-height: 17px;
	font-family: 'InterMedium', sans-serif;
	font-weight: 400;
}

.text {
	font-family: 'IntroRegular', sans-serif;
	font-size: 18px;
	line-height: 150%;
	font-weight: 400;
}
